/** Basic config file **/

configuration {
  font: "FiraCode Nerd Font Mono 16";
  show-icons:         true;
  icon-theme:         "Papirus";
  /* enable vim binding  */
  kb-row-up:     "Up,Control+p,Shift+Tab,Control+k";
  kb-row-down:   "Down,Control+n,Control+j";
  kb-row-left:   "Control+h";
  kb-row-right:  "Control+l";
  /* disable hjkl */
  kb-accept-entry: "Return,KP_Enter";
  kb-remove-to-eol: "";
  kb-remove-char-back: "BackSpace,Shift+BackSpace";
  kb-mode-complete: "";
}
