* {
  palette-bg0: #282a36;
  palette-bg1: #6272a4;
  palette-bg2: #4b6479;
  palette-fg0: #f8f8f2;
  palette-fg1: #d6deeb;
  palette-red: #ef5350;
  palette-green: #22da6e;
  palette-yellow: #addb67;
  palette-blue: #82aaff;
  palette-orange: #f78c6c;
  palette-purple: #c792ea;
  palette-cyan: #21c7a8;
  palette-gray: #637777;
  alpha: #00000000;
}
