# init ignore
/*
/.**


# white list
!/.gitignore
!/.gitconfig
!/.vimrc
!/keymap.txt
!/.config
!/.config/autostart/gnome-terminal.desktop
!/.config/yapf/style
!/.config/pip/pip.conf
!/src
!/zshell
!/zshell/.zsh.d
!/.tmux.conf
!/.gitignore_shared
!/xfce_panel.tar.bz2
!/.config/fish
!/.config/fish/function
!/.config/fish/function/peco-recentd.fish
!/.config/fish/function/fish_prompt.fish
!/.config/fish/config.fish
!/.vim
!/bash


# ignore list
.config
