# init ignore
/*
/.**


# white list
!/.gitignore
!/.gitconfig
!/.config
!/.config/autostart/gnome-terminal.desktop
!/.config/yapf/style
!/.config/pip/pip.conf
!/.config/Code/_install.sh
!/.config/Code/User/snippets/*
!/.config/Code/User/settings.json
!/.bin/command_install.sh
!/.bin/install.sh
!/.bin/marging_environment.sh
!/.tmux.conf
!/.zprezto/*
!/.zlogin
!/.zlogout
!/.zpreztorc
!/.zprofile
!/.zshenv
!/.zshrc

# ignore list
.config