# ignore all 
* 
# add all dir to allowlist
!*/
# user setting
!/.gitignore
!/bash/*
!/bash/functions/*
!/.vim/rc/*
!/.vsnip/*.json
!/config/*
!/config/efm-langserver/config.yaml
!/config/fish/*
!/config/fish/functions/gi.fish
!/config/fish/functions/fish_prompt.fish
!/config/git/ignore
!/config/pip/pip.conf
!/config/rofi/config.rasi
!/config/rofi/applets/styles/nightowl.rasi
!/config/rofi/applets/styles/colors.rasi
!/config/rofi/applets/menu/screenshot.sh
!/config/rofi/applets/menu/configs/square/screenshot.rasi
!/config/rofi/config.rasi
!/config/rofi/launchers/colorful/launcher.sh
!/config/rofi/launchers/colorful/colors.rasi
!/config/rofi/yapf/style
!/config/alacritty/alacritty.yml
!/zshell/*
!/zshell/.zsh.d/*
!/.gitconfig_shared
!/.prettierrc.json
!/.rufo
!/.tmux.conf
!/.vimrc
!/.xprofile
!/README.md
!/keymap.txt
