general:
  focus_follows_cursor: true
  cursor_follow_focus: true
  toggle_workspace_on_refocus: false

gaps:
  inner_gap: 20
  outer_gap: 20

bar:
  height: "30px"
  position: "top"
  opacity: 1.0
  background: "#20242cc4"
  foreground: "#ffffff"
  font_family: "Segoe UI"
  font_size: "13px"
  padding: "4px 6px"
  components_left:
    - type: "workspaces"
      focused_workspace_background: "#ffffff33"
      displayed_workspace_background: "#00000033"
      default_workspace_background: "transparent"
  components_center:
    - type: "window title"
  components_right:
    - type: "tiling direction"
      background: "#ffffff33"
      margin: "0 4px"
      padding: "0 8px"
    - type: "binding mode"
      background: "#ffffff33"
      margin: "0 4px 0 0"
      padding: "0 8px"
    - type: "clock"
      time_formatting: "HH:mm  MM-dd"
      margin: "0 0 0 10px"

workspaces:
  - name: "1"
  - name: "2"
  - name: "3"
  - name: "4"
  - name: "5"
  - name: "6"
  - name: "7"
  - name: "8"
  - name: "9"

window_rules:
  # Task Manager requires admin privileges to manage and should be ignored unless running
  # the WM as admin.
  - command: "ignore"
    match_process_name: "Taskmgr"

  # Launches system dialogs as floating by default (eg. File Explorer save/open dialog).
  - command: "set floating"
    match_class_name: "#32770"

  # Some applications (eg. Steam) have borders that extend past the normal border size.
  - command: "resize borders 0px -7px -7px -7px"
    match_process_name: "steam"

keybindings:
  - command: "close"
    bindings: ["F24"]
  - command: "toggle maximized"
    bindings: ["F20"]
  - command: "toggle floating"
    bindings: ["RWin+Space"]
  # focus workspace {{{
  - command: "focus workspace 1"
    bindings: ["Ctrl+F11"]
  - command: "focus workspace 2"
    bindings: ["Ctrl+F12"]
  - command: "focus workspace 3"
    bindings: ["Ctrl+F13"]
  - command: "focus workspace 4"
    bindings: ["Ctrl+F14"]
  - command: "focus workspace 5"
    bindings: ["Ctrl+F15"]
  - command: "focus workspace 6"
    bindings: ["Ctrl+F16"]
  - command: "focus workspace 7"
    bindings: ["Ctrl+F17"]
  - command: "focus workspace 8"
    bindings: ["Ctrl+F18"]
  - command: "focus workspace 9"
    bindings: ["Ctrl+F19"]
#   # }}}
  # move workspace {{{
  - command: "move to workspace 1"
    bindings: ["Shift+F11"]
  - command: "move to workspace 2"
    bindings: ["Shift+F12"]
  - command: "move to workspace 3"
    bindings: ["Shift+F13"]
  - command: "move to workspace 4"
    bindings: ["Shift+F14"]
  - command: "move to workspace 5"
    bindings: ["Shift+F15"]
  - command: "move to workspace 6"
    bindings: ["Shift+F16"]
  - command: "move to workspace 7"
    bindings: ["Shift+F17"]
  - command: "move to workspace 8"
    bindings: ["Shift+F18"]
  - command: "move to workspace 9"
    bindings: ["Shift+F19"]
  # }}}
  # focus window {{{
  - command: "focus left"
    bindings: ["F13"]
  - command: "focus down"
    bindings: ["F14"]
  - command: "focus up"
    bindings: ["F15"]
  - command: "focus right"
    bindings: ["F16"]
  # }}}
  # move window {{{
  - command: "move left"
    bindings: ["Shift+F13"]
  - command: "move down"
    bindings: ["Shift+F14"]
  - command: "move up"
    bindings: ["Shift+F15"]
  - command: "move right"
    bindings: ["Shift+F16"]
  # }}}
