name: Check karabiner

on: workflow_call

permissions: {}

jobs:
  _check-karabiner:
    timeout-minutes: 30
    name: check karabiner
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: denoland/setup-deno@e95548e56dfa95d4e1a28d6f422fafe75c4c26fb # v2.0.3
      - run: |
          mkdir -p ~/.config/karabiner
          cp config/karabiner/karabiner.json ~/.config/karabiner/karabiner.json
      - run: |
          deno run \
            --allow-env=HOME \
            --allow-read="${HOME}/.config/karabiner/karabiner.json" \
            --allow-write="${HOME}/.config/karabiner/karabiner.json" \
            config/karabiner/mod.ts
      - run: |
          diff ~/.config/karabiner/karabiner.json config/karabiner/karabiner.json
