name: Check actions

on: workflow_call

jobs:
  check-actions:
    name: Check GitHub actions
    runs-on: ubuntu-latest
    env:
      AQUA_GLOBAL_CONFIG: "${{ github.workspace }}/config/aqua/aqua.yaml"
    permissions:
      contents: read
    steps:
      - name: checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - uses: aquaproj/aqua-installer@6ce1f8848ec8e61f14d57bd5d7597057a6dd187c # v3.0.1
        with:
          aqua_version: v2.29.0
          aqua_opts: --all --only-link
      - run: shellcheck --version  # prevent fail actionlint
      - name: actionlint
        run: |
          actionlint -color .github/workflows/*.y*ml config/nvim/templates/yaml/*-github-*
      - name: ghalint
        run: |
          ghalint run .github/workflows/*.y*ml config/nvim/templates/yaml/*-github-*
