name: Check actions

on: workflow_call

permissions: {}

jobs:
  check-actions:
    timeout-minutes: 30
    name: Check GitHub actions
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - name: checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - name: setup nix
        uses: ./.github/actions/setup-nix
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: check actions
        run: nix run .#check-action
