name: Check actions

on: workflow_call

permissions: {}

jobs:
  check-actions:
    timeout-minutes: 30
    name: Check GitHub actions
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - name: checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: setup nix
        uses: ./.github/actions/setup-nix
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: check actions
        run: nix run .#check-action
