name: Check Deno type

on: workflow_call

permissions: {}

jobs:
  check-deno:
    timeout-minutes: 30
    name: Check type
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - name: checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: setup deno
        uses: denoland/setup-deno@e95548e56dfa95d4e1a28d6f422fafe75c4c26fb # v2.0.3
        with:
          deno-version: rc
      - name: type check
        run: deno check scripts/**/*.ts config/nvim/rc/ts/*.ts
      - name: linting
        run: deno lint scripts/**/*.ts config/nvim/rc/ts/*.ts
      - name: testing
        run: deno test --doc config/nvim/rc/**/*.ts
