name: Check actions

on: workflow_call

permissions: {}

jobs:
  check-actions:
    timeout-minutes: 30
    name: Check GitHub actions
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - name: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: setup nix
        uses: ./.github/actions/setup-nix
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: check actions
        run: nix run .#check-action
