name: Code check

on:
  push: null
  pull_request:
    branches:
      - main

permissions: {}

jobs:
  path-filter:
    timeout-minutes: 5
    outputs:
      # keep-sorted start
      actions: ${{steps.changes.outputs.actions}}
      deno: ${{steps.changes.outputs.deno}}
      flake: ${{steps.changes.outputs.flake}}
      karabiner: ${{steps.changes.outputs.karabiner}}
      renovate: ${{steps.changes.outputs.renovate}}
      # keep-sorted end
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: changes
        with:
          filters: |
            actions:
              - .github/workflows/*.yml
              - .github/workflows/*.yaml
              - .github/actions/*.yml
              - .github/actions/*.yaml
              - aqua.yaml
              - flake.nix
              - flake.lock
            deno:
              - scripts/**/*.ts
              - config/nvim/rc/ts/*.ts
              - config/nvim-dark/**/*.ts
              - config/skhd/queries/*.ts
              - .github/workflows/_check-deno.yml
              - .github/workflows/push.yml
            karabiner:
              - config/karabiner/mod.ts
              - .github/workflows/_check-karabiner.yml
              - .github/workflows/push.yml
            flake:
              - flake.nix
              - flake.lock
            renovate:
              - renovate.json5
  check-format:
    timeout-minutes: 5
    name: Check code format
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - name: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: setup nix
        uses: ./.github/actions/setup-nix
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - run: nix flake check
  check-actions:
    needs: path-filter
    if: needs.path-filter.outputs.actions == 'true'
    uses: ./.github/workflows/_check-actions.yml
    permissions:
      contents: read
  check-deno:
    needs: path-filter
    if: needs.path-filter.outputs.deno == 'true'
    uses: ./.github/workflows/_check-deno.yml
    permissions:
      contents: read
  check-home-manager:
    needs: path-filter
    if: needs.path-filter.outputs.flake == 'true'
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu
          - macos
    runs-on: ${{ matrix.os }}-latest
    permissions: {}
    steps:
      - name: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: setup nix
        uses: ./.github/actions/setup-nix
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          cachix: false
      - run: nix run .#install-check
  check-renovate:
    needs: path-filter
    if: needs.path-filter.outputs.renovate == 'true'
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - name: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: setup nix
        uses: ./.github/actions/setup-nix
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - run: nix run .#validate-renovate-config
  status-check:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    needs:
      # keep-sorted start
      - check-actions
      - check-deno
      - check-format
      - check-home-manager
      - check-renovate
      # keep-sorted end
    permissions: {}
    if: failure()
    steps:
      - run: exit 1
