name: release-please

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@7987652d64b4581673a76e33ad5e98e3dd56832f # v4.1.3
        with:
          release-type: simple
            # can be specified below
            # - elixir
            # - go
            # - help
            # - java
            # - maven
            # - node
            # - ocaml
            # - python
            # - php
            # - ruby
            # - rust
            # - sfdx
            # - simple
            # - terraform-module
          package-name: release-please-action

