hooks_file = "$VIMRC_RC_DIR/hooks/ft.vim"

[[plugins]]
repo = "https://github.com/sainnhe/sonokai"
hook_add = """
const g:sonokai_style = 'espresso'
const g:sonokai_dim_inactive_windows = v:false
const g:sonokai_enable_italic = v:false
const g:sonokai_disable_italic_comment = v:true
const g:sonokai_transparent_background = v:true

function s:disable_bgcolor() abort
  highlight FloatBorder ctermbg=NONE guibg=NONE
  highlight NormalFloat ctermbg=NONE guibg=NONE
  highlight Special ctermbg=NONE guibg=NONE
  highlight link TreesitterContext Pmenu
  highlight WinBar ctermbg=NONE guibg=NONE
endfunction

augroup vimrc.colorsetting
  autocmd!
  autocmd ColorScheme * call timer_start(0, { -> s:disable_bgcolor() })
  autocmd VimEnter * nested colorscheme sonokai
augroup END
"""

[[plugins]]
repo = "https://github.com/catppuccin/vim"
name = "catpuccin"
hook_add = """
augroup vimrc.erace-cursorline
  autocmd!
"  autocmd ColorScheme * highlight CursorLine guisp=NONE guifg=NONE guibg=NONE ctermfg=NONE ctermbg=NONE gui=NONE cterm=NONE
augroup END
"""

[[plugins]]
repo = "https://github.com/itchyny/lightline.vim"
hooks_file = "$VIMRC_RC_DIR/hooks/lightline.lua"
depends = ["vim-nerdfont", 'vim-gitbranch']
if = "!has('nvim')"

[[plugins]]
repo = "https://github.com/b0o/incline.nvim"
hooks_file = "$VIMRC_RC_DIR/hooks/incline.lua"
depends = ["vim-nerdfont", 'vim-gitbranch', "sonokai"]
if = "has('nvim')"

[[plugins]]
repo = "https://github.com/itchyny/vim-gitbranch"

[[plugins]]
repo = "https://github.com/vim-jp/vimdoc-ja"
hook_add = """
if has('nvim')
  set helplang=en
else
  set helplang=ja
endif
"""

[[plugins]]
repo = "https://github.com/lambdalisue/vim-nerdfont"

[[plugins]]
repo = "https://github.com/lambdalisue/vim-seethrough"
hook_add = """
let g:seethrough_disabled = has('gui_running')
"""

[[plugins]]
repo = "https://github.com/mattn/vim-findroot"
hook_add = """
const g:findroot_not_for_subdir = v:false
const g:findroot_patterns = ['.git/', 'settings.gradle']
"""

[[plugins]]
repo = "https://github.com/vim-scripts/fish.vim"
if = "!has('nvim')"

[[plugins]]
repo = "https://github.com/elkasztano/nushell-syntax-vim"

[[plugins]]
repo = "https://github.com/Shougo/shougo-s-github"
if = 0

[[plugins]]
repo = "https://github.com/kuuote/dotvim"
if = 0

[[plugins]]
repo = "https://github.com/skk-dev/dict"
if = 0

[[plugins]]
repo = "https://github.com/tani/dmacro.vim"
hook_add = """
inoremap <C-;> <Plug>(dmacro-play-macro)
nnoremap <C-;> <Plug>(dmacro-play-macro)
"""
